<div class="row My-account-box bodyMy-account">
    <div class="close"><a href="/">&times;</a></div>
    <form class="col-6 col-sm-4 col-lg-4 m-auto" method="POST" action="/My-account">
        <div class="box-container">
            <h1>Mon compte</h1>
            <img src="<%= ( user.sexe == 'boy') ? '/images/avatar/garcon.jpg' :(( user.sexe == 'girl') ? '/images/avatar/fille.jpg' : '/images/avatar/none.jpeg' ) %>" class="d-block " alt="avatar">
            <p class="btn icon-btn btn-success avatarScore" href="#" style="margin-left: 25%;"><%= user.points %>  points !</p>

            <div class="mb-3 ">
                <label for="InputUsername" class="form-label">Ton pseudo</label>
                <input type="text" class="form-control" id="InputUsername" placeholder="<%= user.name %>">
            </div>
            
            <div class="mb-3">
                <label for="InputEmail" class="form-label">Ton adresse Email</label>
                <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="<%= user.email %>">
            </div>

            <div class="mb-3">
                <label for="InputText" class="form-label">statut</label>
                <input type="text" class="form-control" id="InputText" placeholder="<%=(typeof statut != 'undefined') ? user.statut : 'statut' %> ">
            </div>
            <button type="submit" class="btn btn-primary m-auto">CONFIRMER</button>        
            <a href="/logout" class="btn btn-danger m-auto" style="color:white">deconnexion</a>
            <a href="/delete-account" style="text-decoration: none;color: black;">Supprimer mon compte</a>        

        </div>
    </form>   
</div>
