<%- include ('../partials/messages') %>

<div class="row">
    <form class="col-6 col-sm-4 col-lg-4 m-auto" action="/register" method="POST">
        <h1>INSCRIPTION</h1>
        <div class="mb-3 ">
            <label for="InputUsername" class="form-label">Ton pseudo</label>
            <input type="text" class="form-control" id="InputUsername" placeholder="Pseudo" name="name" value="<%= typeof name != 'undefined' ? name : '' %>" required>
        </div>
        <div class="mb-3 ">
            <label for="InputEmail" class="form-label">Ton adresse Email</label>
            <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="123@.com" name="email" value="<%= typeof email != 'undefined' ? email : '' %>" required>
            <div id="emailHelp" class="form-text">Nous ne partagerons jamais ton adresse Email.</div>
        </div>
        <div class="mb-3">
            <label for="InputPassword" class="form-label">Ton mot de passe</label>
            <input type="password" class="form-control" id="InputPassword" name="password" value="<%= typeof password != 'undefined' ? password : '' %>" required>
        </div>
        <div class="mb-3">
            <label for="InputPasswordConfirmation" class="form-label">Confirme ton mot de passe</label>
            <input type="password" class="form-control" id="InputPasswordConfirmation"  name="password2" value="<%= typeof password2 != 'undefined' ? password2 : '' %>" required>
        <div id="emailHelp" class="form-text">Ne partage jamais ton mot de passe, Il est privé!</div>
 
        <div class="col-6 col-sm-6 col-lg-6 m-auto select-box">
            <select class="form-select" aria-label="select gender " name="sexe" value="<%= typeof sexe != 'undefined' ? sexe : '' %>" required>
                <option selected value="">Sexe</option>
                <option value="boy">M</option>
                <option value="girl">F</option>
                <option value="nope">-</option>
            </select>
            <div class="form-group row">
                <label for="example-date-input" class="col-2 col-form-label">Date</label>
                <div class="col-10">
                    <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
                </div>
            </div>
        </div>
        <div>
            <input class="form-control code-postale" type="text" placeholder="Code Postale" aria-label="Code Postale" type="number" name="postalCode" value="<%= typeof postalCode != 'undefined' ? postalCode : '' %>" required>
            <button type="submit" class="btn btn-primary m-auto">ENVOYER</button>
        </div>
    </form>
    <div class="row ">
        <div class="col-6 col-sm-4 col-lg-4 m-auto interet"></form>
            <h1>Centre d'intérêt</h1>
            
                <!-- <a class="btn icon-btn btn-primary" href="#"><i class="fas fa-music"></i>
                Musique
                </a>
                
                <a class="btn icon-btn btn-success" href="#"><i class="fas fa-dice"></i>
                Jeux
                </a>
                
                <a class="btn icon-btn btn-info" href="#" ><i class="fas fa-film"></i>
                Cinema
                </a>
                
                <a class="btn icon-btn btn-warning" href="#" ><i class="fas fa-book-reader"></i>
                Lecture
                </a>
                
                <a class="btn icon-btn btn-danger" href="#"><i class="fas fa-campground"></i>
                Scout
                </a>
                <a class="btn icon-btn btn-primary" href="#">
                    <i class="fas fa-paint-brush">
                Art
                </a>
                <a class="btn icon-btn btn-primary" href="#">
                    <i class="fas fa-paint-brush">
                Sport
                </a>
                <a class="btn icon-btn btn-primary" href="#">
                    <i class="fas fa-paint-brush">
                Art
                </a> -->
                <!-- Default checkbox -->
            <!-- Default checkbox -->
            <!-- <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"/>
                <label class="form-check-label" for="flexCheckDefault">Default checkbox</label>
            </div> -->
        </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"/>
                 <label class="form-check-label" for="flexCheckDefault"><i class="fas fa-music"></i> Musique</label>
                </div>
                <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"/>
                 <label class="form-check-label" for="flexCheckDefault"><i class="fas fa-dice"></i> Jeux</label>
                </div>
                <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"/>
                 <label class="form-check-label" for="flexCheckDefault"><i class="fas fa-film"></i> Cinema</label>
                </div>
                <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"/>
                 <label class="form-check-label" for="flexCheckDefault"><i class="fas fa-book-reader"></i> Lecture</label>
                </div>
                <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"/>
                 <label class="form-check-label" for="flexCheckDefault"><i class="fas fa-campground"></i> Scout</label>
                </div>
                <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"/>
                 <label class="form-check-label" for="flexCheckDefault"><i class="fas fa-paint-brush"></i> Art</label>
                </div>
                <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"/>
                 <label class="form-check-label" for="flexCheckDefault"><i class="fas fa-running"></i> Sport</label>
                </div>
                <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"/>
                 <label class="form-check-label" for="flexCheckDefault"><i class="fas fa-wifi"></i> Technologie</label>
                </div>
            </div>
        </div>
    </div>
</div>
