<div class="row login-box bodyLogin">
    <form class="col-6 col-sm-4 col-lg-4 m-auto" action="/register" method="POST">
        <div class="box-container">
            <div class="close"><a href="/">Retour</a></div>
            <!-- &times; -->
            <%- include ('../partials/messages') %>
            <div class="row" style="width: 270px; height: 327px; overflow: scroll;">
                <div class="col-6 col-sm-4 col-lg-4 m-auto">
                    <h1>CREER UN COMPTE</h1>
                    <div class="mb-3 ">
                        <label for="InputUsername" class="form-label">Ton pseudo</label>
                        <input type="text" class="form-control" id="InputUsername" placeholder="Pseudo" name="name" value="<%= typeof name != 'undefined' ? name : '' %>" required>
                    </div>
                    <div class="mb-3 ">
                        <label for="InputEmail" class="form-label">Ton adresse Email</label>
                        <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="123@.com" name="email" value="<%= typeof email != 'undefined' ? email : '' %>" required>
                        <div id="emailHelp" class="form-text">Nous ne partagerons jamais ton adresse Email.</div>
                    </div>
                    <div class="mb-3">
                        <label for="InputPassword" class="form-label">Ton mot de passe</label>
                        <input type="password"  placeholder="Ne partage jamais ton mdp !" class="form-control" id="InputPassword" name="password" value="<%= typeof password != 'undefined' ? password : '' %>" required>
                    </div>
                    <div class="mb-3">
                        <label for="InputPasswordConfirmation" class="form-label">Confirme ton mot de passe</label>
                        <input type="password" class="form-control" id="InputPasswordConfirmation"  name="password2" value="<%= typeof password2 != 'undefined' ? password2 : '' %>" required>
             
                    <div class="col-6 col-sm-6 col-lg-6 m-auto select-box">
                        <select class="form-select gender" aria-label="select gender " name="sexe" value="<%= typeof sexe != 'undefined' ? sexe : '' %>" required>
                            <option value="" <%= (typeof sexe == 'undefined' || sexe == "") ? 'selected' : '' %>>Sexe</option>
                            <option value="boy" <%= (typeof sexe != 'undefined' && sexe === "boy") ? 'selected' : '' %>>M</option>
                            <option value="girl" <%= (typeof sexe != 'undefined' && sexe === "girl") ? 'selected' : '' %>>F</option>
                            <option value="nope" <%= (typeof sexe != 'undefined' && sexe === "nope") ? 'selected' : '' %>>-</option>
                        </select>
                        <div class="form-group row">
                            <div class="ddn">Quel est ta date de naissance?</div>
                            <div class="col-10">
                                <input class="form-control" type="date" id="example-date-input" placeholder="Date de naissance" name="birthday" value="<%= typeof birthday != 'undefined' ? birthday : '' %>" required>
                            </div>
                        </div>
                    </div>
                    <div>
                        <input class="form-control code-postale" type="text" placeholder="Code Postale" aria-label="Code Postale" type="number" name="postalCode" value="<%= typeof postalCode != 'undefined' ? postalCode : '' %>" required>
                    </div>
                </div>

                <div class="row ">
                    <div class="col-6 col-sm-4 col-lg-4 m-auto interet">
                        <h1>Centre d'intérêt</h1>
                    </div>
                        <div class="form-check align-items-center justify-content-center">
                            <input class="form-check-input position-interet" type="checkbox" id="flexCheckDefault" name="musique" value="musique" <%= (typeof intérêt != 'undefined' && intérêt.includes("musique")) ? 'checked' : '' %> />
                            <label class="form-check-label" for="musique"><i class="fas fa-music"></i> Musique</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input position-interet" type="checkbox" id="flexCheckDefault" name="jeux" value="jeux" <%= (typeof intérêt != 'undefined' && intérêt.includes("jeux")) ? 'checked' : '' %>/>
                            <label class="form-check-label" for="jeux"><i class="fas fa-dice"></i> Jeux</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input position-interet" type="checkbox" id="flexCheckDefault" name="cinema" value="cinema" <%= (typeof intérêt != 'undefined' && intérêt.includes("cinema")) ? 'checked' : '' %>/>
                            <label class="form-check-label" for="cinema"><i class="fas fa-film"></i> Cinema</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input position-interet" type="checkbox" id="flexCheckDefault" name="lecture" value="lecture" <%= (typeof intérêt != 'undefined' && intérêt.includes("lecture")) ? 'checked' : '' %>/>
                            <label class="form-check-label" for="lecture"><i class="fas fa-book-reader"></i> Lecture</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input position-interet" type="checkbox" id="flexCheckDefault" name="scout" value="scout" <%= (typeof intérêt != 'undefined' && intérêt.includes("scout")) ? 'checked' : '' %>/>
                            <label class="form-check-label" for="scout"><i class="fas fa-campground"></i> Scout</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input position-interet" type="checkbox" id="flexCheckDefault" name="art" value="art" <%= (typeof intérêt != 'undefined' && intérêt.includes("art")) ? 'checked' : '' %>/>
                            <label class="form-check-label" for="art"><i class="fas fa-paint-brush"></i> Art</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input position-interet" type="checkbox" id="flexCheckDefault" name="sport" value="sport" <%= (typeof intérêt != 'undefined' && intérêt.includes("sport")) ? 'checked' : '' %>/>
                            <label class="form-check-label" for="sport"><i class="fas fa-running"></i> Sport</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input position-interet" type="checkbox" id="flexCheckDefault" name="techno" value="techno" <%= (typeof intérêt != 'undefined' && intérêt.includes("techno")) ? 'checked' : '' %>/>
                            <label class="form-check-label" for="techno"><i class="fas fa-wifi"></i> Technologie</label>
                        </div>
                        <button type="submit" class="btn btn-primary m-auto mt-3">ENVOYER</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>

    <!-- ne pas effacer !!!!!!!
                    <a class="btn icon-btn btn-primary" href="#"><i class="fas fa-music"></i>
                Musique
                </a>
                
                <a class="btn icon-btn btn-success" href="#"><i class="fas fa-dice"></i>
                Jeux
                </a>
                
                <a class="btn icon-btn btn-info" href="#" ><i class="fas fa-film"></i>
                Cinema
                </a>
                
                <a class="btn icon-btn btn-warning" href="#" ><i class="fas fa-book-reader"></i>
                Lecture
                </a>
                
                <a class="btn icon-btn btn-danger" href="#"><i class="fas fa-campground"></i>
                Scout
                </a>
                <a class="btn icon-btn btn-primary" href="#">
                    <i class="fas fa-paint-brush">
                Art
                </a>
                <a class="btn icon-btn btn-primary" href="#">
                    <i class="fas fa-paint-brush">
                Sport
                </a>
                <a class="btn icon-btn btn-primary" href="#">
                    <i class="fas fa-paint-brush">
                Art
                </a> -->